.quiz {
	width: 975px;
	margin: 0 auto;
	margin-top: 100px;
}

.score {
	background: var(--white);
	color: 000;
	font-size: 18px;
	width: 200px;
	margin: 0 auto;
	font-weight: 600;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.next-button {
	margin: 0 auto;
	color: var(--white);
	background-color: var(--black);
	width: 300px;
	font-size: 18px;
	font-weight: 600;
	padding: 14px 75px;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
}

.results {
	background-color: var(--white);
	height: 300px;
	text-align: center;
}

.congratulations {
	background-color: var(--blue);
	padding: 20px;
	font-size: 36px;
	color: var(--white);
}

.results-info {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
}